# locally cached files
__pycache__/
*.pyc
.ipynb_checkpoints/
*.eggs/
*.egg-info/
*Pretrained_models*
02 Cascade tutorial/Cascade/.git
02 Cascade tutorial/Cascade/*
02 Cascade tutorial/environment_mac.yml
02 Cascade tutorial/requirements_mac.txt
03 Linking Behavior and Neuronal Activity/generate_toy_behavior.py
Sue_2x_3000_40_-46.tif
*.tif
*.tiff
01 CaImAn tutorial/caiman_pipeline_ADFCFL1_BL_goodParameters.ipynb
*.hdf5
*.h5
03 Patterns in neural activity/generate_toy_behavior.py
01 CaImAn tutorial/demo_image/Sue_2x_3000_40_-46_metrics.npz
